body
  background    white
  color         black
  margin        1em

fieldset
  margin-top    1em

input
  margin-right  0.5em
  width         5em
  &[type='checkbox']
    width         1em
  &[type='text']
    font-weight   bold
    text-align    right

#dh, #sag, #sigma_u-perc
  font-weight   bold

#rho_w
  width         15em

#version
  float         right
  font-size     90%

.alert
  color         red

.field-text
  margin-bottom 0.5em
  .units:after
    content     '. '

.help
  .btn:before
    content     ' ['
  .btn:after
    content     ']'
  .link
    color       blue
    cursor      pointer
  .text
    background  yellow
  &.closed
    .open
      display   none
  &.open
    .closed
      display   none

.hide
  display       none
